---
version: "3"

services:
  dev:
    user: vscode
    init: true
    build: .devcontainer
    env_file:
      - .env
    environment:
      # Save pre-commit cache between rebuilds
      - PRE_COMMIT_HOME=${LOCAL_WORKSPACE_FOLDER?}/.pre-commit
    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - .:${LOCAL_WORKSPACE_FOLDER?}:cached
  hass:
    image: "homeassistant/home-assistant:${HA_VERSION:-stable}"
    restart: unless-stopped
    environment:
      - PYTHON_DEBUG=true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - .devcontainer/home_assistant_run.sh:/etc/services.d/home-assistant/run:ro
      - .devcontainer/preconfig.sh:/etc/cont-init.d/preconfig.sh:ro
      - .devcontainer/preconfig:/preconfig.d/01-integration:ro
      - .devcontainer/config/configuration.yaml:/config/configuration.yaml:ro
      - .devcontainer/config/www:/config/www
      - ./custom_components:/config/custom_components:ro
  frigate:
    privileged: true
    image: "blakeblackshear/frigate:${FRIGATE_VERSION:-stable-amd64}"
    restart: unless-stopped
    devices:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/dri:/dev/dri
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - .devcontainer/frigate.yml:/config/config.yml:ro
      - ./frigate:/media/frigate
  mqtt:
    image: eclipse-mosquitto:1.6
    restart: unless-stopped
