---
name: Build

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: "17 6 * * *"
  workflow_dispatch:

env:
  DEFAULT_PYTHON: "3.10"

jobs:
  pre-commit:
    runs-on: "ubuntu-latest"
    name: Pre-commit
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2.4.2
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v4.0.0
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install requirements
        run: |
          poetry install
      - name: Run pre-commit on all files
        run: |
          poetry run pre-commit run --all-files \
            --show-diff-on-failure --color=always

  hacs:
    runs-on: "ubuntu-latest"
    name: HACS
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v2.4.2"

      - name: HACS validation
        uses: "hacs/action@22.5.0"
        with:
          category: "integration"

  hassfest:
    runs-on: "ubuntu-latest"
    name: Hassfest
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v2.4.2"

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v2.4.2"
      - name: Setup Python ${{ env.DEFAULT_PYTHON }}
        uses: "actions/setup-python@v4.0.0"
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install requirements
        run: |
          poetry install
      - name: Tests suite
        run: |
          poetry run pytest -p no:sugar
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.0
        with:
          env_vars: OS,PYTHON
          verbose: true
