---
name: Manage labels

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.1.1

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v4.2.0
        with:
          skip-delete: true
